.topPlacement {
    margin-top:65px;
}
.customErrorStyle {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 4px;
    margin-bottom: 5px;
    margin-top: 2px;
}